* {
  margin: 0;
  padding: 0
}

/* body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

.menu {
  width: auto;
  position: fixed;
  z-index: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 2vw;
}

input[type=range] {
  -webkit-appearance: slider-vertical;
  height: 180px;
  width: 15px;
  background-color: ghostwhite;
  border-radius: 8px;
  margin: 15px;
  rotate: 45px;
}

input:active, input:focus {
  outline-style: none;
  outline: none;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: 99;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  border: solid 2px black;
}

.value {
  width: 90px;
  height: 90px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#redValue {
  background-color: rgb(255, 0, 0);
}
#blueValue {
  background-color: rgb(0, 0, 255);
}
#greenValue {
  background-color: rgb(0, 255, 0);
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.blur {
  filter: blur(3px) grayscale(70%);
  transition: 2s;
}

.hidden {
  display: none;
}